.Section1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   width: 100%;
}
.Cards{
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.Section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 100%;
   padding-bottom: 20px;
}
.Section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 100%;
}

.divButton{display: flex;
  
    justify-content: center;
    align-items: center;
   width: 100%;
}
.DivSection3{
    display: flex;
    flex-direction: row;
}
.Buttom{
    color: #888888;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    font-size: 12px;
    width: 160px;
    height: 36px;
    opacity: 1;
    padding: 4px 4px 4px 4px;
}

.Card{
     display: flex;
     flex-direction: column;
     gap: 16px;
     margin-top: 40px;
     width: 200px;
}

